<html>
    <head>
        <title>
            TEST SCSS
        </title>
    </head>
    <body>
        <div>
            <p>Test</p>
            <h1>
              {{title}}
          </h1>
          <button kendoButton (click)="onButtonClick()" [primary]="true">My Kendo UI Button</button>

        </div>
<div class="example-wrapper">
            <p>Select a date:</p>
            <kendo-datepicker [disabled]="false" [value]="value"></kendo-datepicker>
            <p>tst</p>
        </div>
        
        
    </body>
</html>
